<!-- CAROUSEL -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @newarticles.each.with_index(0) do |article, index| %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= index.zero? ? 'active' : '' %>">
          </li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @newarticles.each.with_index(0) do |article, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <%= link_to image_tag(article.image, class: "img-fluid") if article.image.attached? %>
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>
                <%= link_to article.title, article %>
              </h1>
              <!--p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p-->
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
<!-- MAIN CONTENT AFTER CARROUSEL -->
<div class="container">
<!-- 3 ARTICLES IN ROW  -->
  <% @articles.each_slice(3) do |article| %>
  <div class="card-deck posts">
    <% article.each do |article| %>
    <div class="card">
      <%= link_to image_tag(article.image, class: "img-fluid") if article.image.attached? %>      
      <div class="card-body">
        <h2>Article Category</h2>
        <h3 class="card-title">
          <%= link_to article.title, article %>
        </h3>
        <p class="card-text">
          <%= article.created_at.strftime("%d.%m.%Y") %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
<!-- 2 RECIPES IN ROW  -->
  <% @recipes.each_slice(2) do |recipe| %>
  <div class="card-deck posts">
    <% recipe.each do |recipe| %>
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h2>Recipe Category</h2>
        <h3 class="card-title">
          <%= link_to recipe.title, recipe %>
        </h3>
        <p class="card-text">
          <%= recipe.created_at.strftime("%d.%m.%Y") %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
<!-- 3 POSTS IN ROW BLOG  -->
  <% @posts.each_slice(3)  do |post| %>
  <div class="card-deck posts">
    <% post.each do |post| %>
    <div class="card">
      <%= link_to image_tag(post.image, class: "img-fluid") if post.image.attached? %>
      <div class="card-body">
        <h2>Posts Category</h2>
        <h3 class="card-title">
          <%= link_to post.title, post %>
        </h3>
        <p class="card-text">
          <%= post.created_at.strftime("%d.%m.%Y") %>        
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
    <!-- 1 POST IN ROW ARTICLE -->
  <% @bottomarticles.each_slice(1) do |article| %>
  <div class="card-deck posts">
    <% article.each do |article| %>
    <div class="card">
      <%= link_to image_tag(article.image, class: "img-fluid") if article.image.attached? %>      
      <div class="card-body">
        <h2>Article Category</h2>
        <h3 class="card-title">
          <%= link_to article.title, article %>
        </h3>
        <p class="card-text">
          <%= article.created_at.strftime("%d.%m.%Y") %>        
        </p>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

<!--<p><.%= link_to post.body.truncate_words(35), post%></p>-->

<script type="text/javascript">
  $(document).on('turbolinks:load', function(){
     $('.carousel').carousel({
        interval: 2000
     });
  });
</script>