<div class="container">
    <%= simple_form_for @article do |f| %>
        <% if @article.errors.any? %>
    <div>
        <h2>
            <%= pluralize(@article.errors.count, "error") %> prevented this post from saving</h2>
            <ul>
                <% @article.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
            <% end %>
            </ul>
    </div>
        <% end %>
            <%= f.input :title, input_html: { class: 'form-control'} %>
            <%= f.input :body, input_html: { class: 'form-control'} %>
            <%= f.input :image, input_html: { class: 'form-control'} %>
            <%= f.submit 'Save' %>
    <% end %>
</div>