<div class="container">
    <% @articles.each do |article| %>
    <div>
        <h2 class="title"><%= link_to article.title, article %></h2>
        <p><%= article.created_at.strftime("%d . %m .  %Y") %></p>
    </div>
<% end %>
</div>