<div class="container">
    <%= image_tag(@article.image, style:'width:100%') if @article.image.attached? %>
    <h1><%= @article.title %></h1>
    <p><%= @article.created_at.strftime("%d . %m .  %Y") %>
        | <%= link_to 'Edit', edit_article_path(@article) %>
        | <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm:
        'Are you sure?'} %>
    </p>
    <p><%= @article.body %></p>
</div>