<div class="panel-body">
<%= simple_form_for @recipe, html: {multipart: true} do |f| %>
    <% if @recipe.errors.any? %>
        <div>
            <h2><%= pluralize(@recipe.errors.count, "error") %> prevented this post from saving</h2>
            <ul>
                <% @recipe.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    
      <%= f.input :title, input_html: { class: 'form-control'} %>
      <%= f.input :image, input_html: {class: 'form-control'} %>
        <%= f.input :description, input_html: { class: 'form-control'} %>
      <div class="row">
        <div class="col-md-6">
            <h3>Ingredients</h3>
            <div id="ingredients">
              <%= f.simple_fields_for :ingredients do |ingredient| %>
                <%= render 'ingredient_fields', :f => ingredient %>
              <% end %>
              <div class='links'>
                <%= link_to_add_association 'Add Ingredient', f, :ingredients %>
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <h3>Directions</h3>
          <div id="directions">
            <%= f.simple_fields_for :directions do |direction| %>
              <%= render 'direction_fields', :f => direction %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Step', f, :directions %>
            </div>
          </div>
        </div>
    </div>
      <%= f.submit 'Save' %>
<% end %>