<div class="form-inline clearfix">
  <div class='nested-fields'>
    <%= f.input :name, input_html: { class: 'form-input form-control' } %>
    <%= link_to_remove_association "Remove", f %>
  </div>
</div>