<% @recipes.each do |recipe| %>
    <div>
        <h2 class="title">
            <%= link_to recipe.title, recipe %>
        </h2>
        <p>
            <%= recipe.created_at.strftime("%d . %m .  %Y") %>
        </p>
    </div>
<% end %>