<div class="row">
  <div class="col-md-12">
    <h1>
      <%= @recipe.title %>
    </h1>
  </div>
  <div class="col-md-9" id="recipe-top">
    <%= image_tag(@recipe.image, style:'width:100%') %>
      <p class="description">
        <%= @recipe.description %>
      </p>
      <h2>Directions</h2>
      <ul>
        <% @recipe.directions.each do |direction| %>
          <li>
                  <% if direction.image %>
             <%= image_tag(direction.image, style:'width:100%')  %>
            <% end %>
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
  </div>
  <div class="col-md-3">
    <%= image_tag(@recipe.image, style:'width:100%') %>
    <h2>
      <%= @recipe.title %>
    </h2>
    <div id="ingredients">
      <h2>Ingredients</h2>
      <ul>
        <% @recipe.ingredients.each do |ingredient| %>
          <li>
            <%= ingredient.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="directions">
      <h2>Directions</h2>
      <ul>
        <% @recipe.directions.each do |direction| %>
          <li>
      
            <%= direction.step %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to "Back", recipes_path(@recipe) %>
    <%= link_to "Edit", edit_recipe_path(@recipe) %>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" }, :class => "btn btn-default" %>
  </div>
</div>