<% @posts.each do |post| %>
    <div>
        <h2 class="title">
            <%= link_to post.title, post %>
        </h2>
        <p>
            <%= post.created_at.strftime("%d . %m .  %Y") %>
        </p>
    </div>
<% end %>