<div class="container">
    <%= image_tag(@post.image, style:'width:100%') if @post.image.attached? %>
    <h1><%= @post.title %></h1>
    <p><%= @post.created_at.strftime("%d . %m .  %Y") %>
        | <%= link_to 'Edit', edit_article_path(@post) %>
        | <%= link_to 'Delete', article_path(@post), method: :delete, data: {confirm:
        'Are you sure?'} %>
    </p>
    <p><%= @post.body %></p>
</div>