/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
// Bootstrap navbar class: delete vertical padding
body .navbar{
    line-height: 0;
}

#nav-1 {
  padding: 0rem 1rem;
}

// Bootsrap navs add top padding
#nav-2 .nav-item {
    position: relative;
    top: 0.25rem;
}

// Logo in navs
#nav-logo img{
    max-width: 150px;
    height: auto;
    padding-top: 1rem;
}

// Menu in toggle nav to the right of icon 
#toggle-h6 {
    display: inline-flex;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* To make the carousel images full width and size 300px */
.carousel-item.active .img-fluid,
.carousel-item-next .img-fluid,
.carousel-item-prev .img-fluid{
  display: block;
  width: 100%;
  height: 18rem;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  width: 100%;
  height: 300px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element 
.carousel-item {
  height: 18rem;
  display: block;
}
.carousel-item > img {
  height: 18rem;
  display: block;
}*/

// BODY container for whole site except header


.posts {
    overflow: hidden;
    flex-wrap: nowrap;
}


// Get rid of *. that Simple For adds when a field is required
abbr[title="required"] {
  display: none;
}