<header>
      <nav class="navbar navbar-dark bg-dark">
      <a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h6 id="toggle-h6">Menu</h6>
      </a>
      <div class="navbar-collapse collapse" id="navbarsExample01" style="">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
      </nav>
      <div class="nav justify-content-center" id="nav-logo">
          <%= link_to root_path do%>
            <%= image_tag "https://fuzati.com/wp-content/uploads/2016/12/Bootstrap-Logo.png" %>
         <% end %>
      </div>
      <ul class="nav justify-content-center" id="nav-2">
        <li class="nav-item">
          <a class="nav-link" href="#">Empieza aqui</a>
        </li>
        <li class="nav-item"><%= link_to "Recetas", recipes_path, :class => "nav-link" %></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Baby Led Weaning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Seguridad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Nutricion</a>
        </li>
        <li class="nav-item"><%= link_to "Videos", video_path, :class => "nav-link"%></li>
        <li class="nav-item"><a class="nav-link" href="#">Crianza</a></li>
      </ul>
    </header>